/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import 'bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Francois+One);

@mixin fadein {
	opacity: 0;
	@include transition(all, 1s);
	&.active {
		opacity: 1;
	}	
}

@mixin noheight {
	&.inactive {
		height: 0;
		padding: 0;
		margin: 0;
	}	
}

@import 'answer-boxes','bigq','qwrapup';

body {
	font-family: 'Helvetica', 'Arial';
	margin: 20px auto 0 auto;
	max-width: 600px;
}

h1 {
	font-family: 'Francois One', sans-serif;
	font-size: 40px;
	padding: 0 8px 16px 8px;
	span {
		color: #888;
	}
	&.small {
		@include transition(all, 1s);
		font-size: 20px;
	}
}

.credits  {
	padding: 8px;
	opacity: 0.6;
	a {
		color: inherit;
	}
}

