.question-wrapup {
	position: absolute;
	top: 8em;
	background: white;
	border: 0 solid #ccc;
	border-width: 10px 0;
	padding: 20px;
	width: auto;
	display: none;
	p{
		font-size: 1.2em;
	}
}

.play-again {
	@include fadein;
	@include noheight;
	text-align: center;
	padding: 10px 0;
	background: rgb(253, 236, 184);
	font-size: 1.2em;
	margin: 1em 0;
	cursor: pointer;
	margin: 16px 8px 0 8px;
	cursor: pointer;
}


.final-score {
	font-size: 20px;
	padding: 8px;
	p {
		text-align: center;
		margin-top: 1em;
		font-size: 80%;
	}
	.twitter-share-button {
		margin: 5px auto;
		display: block;
	}
}